<p id="notice"><%= notice %></p>

<h1>Listing Words</h1>

<% if Word.count < 24 %>
    <h4>Not enough words - needs <%= 24 - Word.count %> more words to make a card</h4>
<% else %>
    <%= link_to 'Generate Board', root_path, class: 'btn' %>
<% end %>

<%= link_to 'New Word', new_word_path, class: 'btn' %>

<table>
  <thead>
  <tr>
    <th>Word</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @words.each do |word| %>
      <tr>
        <td><%= word.word %></td>
        <td><%= link_to 'Edit', edit_word_path(word), class: 'btn' %></td>
        <td><%= link_to 'Delete', word, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn' %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
